In [1]:
print ("Hello to the Python world !!")

Hello to the Python world !!

In [ ]:
Intro to python variables

In [ ]:
Rule 1 : No spaces are allowed in variable

In [ ]:
nw issues so skipped this from my notes .

In [ ]:
Rule 2 : Variable cannot start with a number

In [ ]:
Rule 3 : Variable name should not contain any special characters

In [ ]:
!#%&

In [9]:
name_@ = 'Barge'
print (name@)

SyntaxError: invalid syntax (3107004638.py, line 1)

SyntaxError: invalid syntax (1806865713.py, line 1)

In [ ]:
Intro to Datatypes

In [ ]:
1. Strings ====> str

In [ ]:
2. Numbers integers ====> int

In [ ]:
3. List ====> list

In [ ]:
3. Tuples ====> tuple

In [ ]:
5 Dictionaries ====> dict

In [ ]:
Classification of Datatypes ----> Broardly 2 types as follows :

In [ ]:
1. Mutable ( can be edited or flexible )

In [ ]:
2. Immutable ( cannot be edited  or fixed )

In [ ]:
Intro to String datatype : 
    
definition  Series of characters declared in ''
Classification - Immutable datatype
How to define : '' or ""

In [7]:
A = 'Barge'
print(A)

Barge

In [8]:
A = "Barge"
print(A)

Barge

In [ ]:
# is comment